{{#>include/header}}{{/include/header}}
<h1>Internal Error</h1>
<p>An internal error occurred.</p>
<p>Here's what went wrong:</p>
<pre class="error-text">{{ errorText }}</pre>
<p>Try contacting the site administrator and sending them this error.</p>
<p>You can also report the issue on the <a href="{{config.app.projectUrl}}">{{appName}}</a>'s issues page.</p>
{{#>include/footer}}{{/include/footer}}