    </div>
    <div id="footer">
        <div id="software-info">Running <a href="{{config.app.projectUrl}}">{{appName}}</a> v{{appVersion}}</div>
        <div id="admin-contact">Administrator contact: {{{config.app.contactLink}}}</div>
    </div>
    {{>@partial-block}}
</body>
</html>