#content-container {
    max-width: 800px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
}
#search-form {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(100, 0, 0);
    margin-bottom: 20px
}
#search-options {
    margin-top: 10px;
}