body {
    font-family: sans-serif;
    background: rgb(15, 15, 15);
    color: white;
    margin: 0px;
}
a {
    color: red;
}
input[type=text], input[type=password], textarea, select {
    background: rgb(15, 15, 15);
    color: white;
    border: 1px solid rgb(100, 0, 0);
    padding: 3px;
}
input[type=submit], button {
    border: 2px solid rgb(100, 0, 0);
    background: red;
    font-weight: bold;
}

#header {
    background: black;
    height: 30px;
    padding: 10px;
}
#header * {
    display: inline-block;
}
#header #header-title {
    font-size: 25px;
    font-weight: bold;
}
#header #header-title a {
    text-decoration: none;
}
#header #header-search-form {
    width: 500px;
    position: absolute;
    left: calc(50vw - 250px);
}
#header #header-search-form input[type=text] {
    width: calc(100% - 60px);
}
#content {
    margin: 10px;
    min-height: calc(100vh - 122px);
}
#footer {
    background: black;
    height: 20px;
    padding: 10px;
}
#footer #software-info {
    float: left;
}
#footer #admin-contact {
    float: right;
}

.center {
    text-align: center;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.error-text {
    background: rgb(20, 20, 20);
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    overflow-x: auto;
}
.error-box {
    background: rgb(150, 0, 0);
    border: 3px solid rgb(100, 0, 0);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.page-nav {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.page-nav-current-page {
    font-weight: bold;
}
.page-nav-last-link, .page-nav-next-link {
    text-decoration: none;
    font-weight: bold;
}
.page-nav-disabled {
    color: gray;
}